.snakemake
.vscode

data/external/*
data/interim/*
data/processed/*

*.pyc
__pycache__
.ipynb_checkpoints

.DS_Store
._*

.genemap.sqlite
_pybiomart_cache.sqlite

_old
_bak
docs/_build
logs/*
reports/*
tmp
